.row-fluid
  .span12
    .well
      %h3 Highscore
      %table.table
        %thead
          %tr
            %th User
            %th Punkte
            %th gelöst
        %tbody
          - @highscore.each do |user|
            %tr
              %td= link_to user.name, user
              %td= user.score
              %td= user.solved


    .well
      %h3 Tasks
      %table.table
        %thead
          %tr
            %th Task
            %th Bester
            %th Zeichen
        %tbody
          - @tasks.each do |test, results|
            %tr
              %td= test
              %td= results.first.solved? ? link_to(results.first.user.name, results.first.user) : "-"
              %td= results.first.solved? ? results.first.size : "-"
