.row-fluid
  .span6
    %h1= current_user.name
    %table.table
      %thead
        %tr
          %th Aufgabe
          %th
          %th Zeichen
      %tbody
        - current_user.test_results.order(:test).each do |test_result|
          %tr
            %td= test_result.test
            %td
              - if test_result.size
                %i.icon.icon-ok-sign
              - else
                %i.icon.icon-minus-sign
            %td=test_result.size
  .span6
    .well
      %h3 Highscore
      %table.table
        %thead
          %tr
            %th User
            %th Punkte
            %th gelöst
        %tbody
          - @highscore.each do |user|
            %tr
              %td= user.name
              %td= user.score
              %td= user.solved


    .well
      %h3 Tasks
      %table.table
        %thead
          %tr
            %th Task
            %th Bester
            %th Zeichen
        %tbody
          - @tasks.each do |test_result|
            %tr
              %td= test_result.test
              %td= test_result.user.name
              %td= test_result.size
